// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #e1b12c;
$green: #96e6a1;
$light-green: #d4fc79;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange-primary: #ff6d00;
$orange-light: #ff9e40;
$orange-dark: #c43c00;

// Color palette
$reptile-green: #26de81;
$algal-fuel: #20bf6b;

$fusion-red: #fc5c65;
$desire: #eb3b5a;

$maximum-blue-green: #2bcbba;
$turquoise-topaz: #0fb9b1;

$twinkle-blue: #d1d8e0;
$innuendo: #a5b1c2;

$blue-grey: #778ca3;
$blue-horizon: #4b6584;

$flirtatious: #fed330;
