<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-12">

        <h1>Borrow @pet.name</h1>

      <%= simple_form_for [@pet, @booking], url: pet_bookings_path(@pet) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "New Booking"%>
      <% end %>

    </div>
  </div>
</div>
