.cards-browse {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  & a {
    color: black;
  }
  & a:hover {
    text-decoration: none;
  }
}

@media(max-width: 992px) {
  .cards-browse {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-browse {
    grid-template-columns: 1fr;
  }
}

/* Pet card */

.card-pet {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  &:hover .card-pet-species {
    color: $algal-fuel;
  }
}

.card-pet-image {
  position: relative;
}

.card-pet-image > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-pet-species {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: $reptile-green;
  background-color: black;
  position: absolute;
  padding: 4px 8px;
  bottom: 8px;
  left: 16px;
  border-radius:4px;
  transition: $quick;
}

.card-pet-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pet p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  text-overflow: ellipsis;
}

.card-pet-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-pet .card-pet-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-pet-infos .card-pet-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
