.contain-pets {
  background: white;
  border-width: 1.8px;
  border-style: solid;
  margin: 24px 16px 24px 16px;
  height: 500px;
  box-align: center !important;
  align-items: center !important;
  display: flex !important;
  overflow: hidden !important;
}

.contain-pet {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.contain-main {
  position: relative;
  background-size: cover;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-width: 0.1px;
  border-style: solid;
  transition: transform 0.5s ease;
  opacity: 0.95;
  border-right: solid;
  &:hover {
    transform: scale(1.05);
    cursor:pointer;
    color: white;
    text-decoration: none;
    opacity: 1;
    border: none;
  }
}

.pet {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: rgb(0, 0, 0);
  position: relative;
  height: 50%;
  color: inherit;
  overflow: hidden;
  border-width: 1.8px;
  border-right: solid;
  transition: transform .5s ease;
  opacity: 0.95;
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: white;
    text-decoration: none;
    opacity: 1;
    border: none;
  }
}

.datepicker {
  width: 300px !important;
}

.datepicker-months {
    width:300px !important;
  }

  .datepicker-days {
    width:300px !important;
  }
