.btn-create {
  color: white;
  background-color: $reptile-green;
  margin: 1rem 0rem;
}

.btn-create:focus,
.btn-create.focus {
  color: white;
  background-color: $algal-fuel;
}

.btn-create:hover {
  color: white;
  background-color: $algal-fuel;
}

.btn-create:active,
.btn-create.active,
.open > .dropdown-toggle.btn-create {
  color: white;
  background-color: $algal-fuel;
  background-image: none;
}

.btn-create:active:hover,
.btn-create.active:hover,
.open > .dropdown-toggle.btn-create:hover,
.btn-create:active:focus,
.btn-create.active:focus,
.open > .dropdown-toggle.btn-create:focus,
.btn-create:active.focus,
.btn-create.active.focus,
.open > .dropdown-toggle.btn-create.focus {
  color: white;
  background-color: $algal-fuel;
}

.btn-create.disabled:hover,
.btn-create[disabled]:hover,
fieldset[disabled] .btn-create:hover,
.btn-create.disabled:focus,
.btn-create[disabled]:focus,
fieldset[disabled] .btn-create:focus,
.btn-create.disabled.focus,
.btn-create[disabled].focus,
fieldset[disabled] .btn-create.focus {
  background-color: $algal-fuel;
}

.btn-create .badge {
  color: $reptile-green;
  background-color: white;
}
