#pet-show, #booking-form, #reviews {
  padding-top: 4 * $spacer;
  padding-bottom: 4 * $spacer;
  h2 {
    padding-bottom: 2 * $spacer;
  }
}

#reviews {
  color: white;
  background-color: black;
  p {
    font-size: 14pt;
  }
}

#review {
  padding-left: 1.5 * $spacer;
  border-left: 4px solid $reptile-green;
}

#reviewer {
  padding-bottom: 2 * $spacer;
}

#star-rating {
  color: $flirtatious;
}

#booking-form {
  height: 260px;
}

@media(max-width: 768px) {
  #booking-form, #reviews {
    padding-top: 1 $spacer;
    padding-bottom: 1.5 * $spacer;
  }
}

.wrapper-img {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.43;
  border: none;
}

.modal-img {
  max-width: 1000px;
  margin: 1.75rem auto;
  position: relative;
  width: auto;
  transform: none;
}

.modal {
  margin-top: 32px;
}

